@tailwind base;
@tailwind components;
@tailwind utilities;


a:not(.ignore){ 
  @apply text-blue-700;
  &:hover{ 
    @apply text-blue-600 underline;
  }
}

form .form-group {
  .form-error { 
    display: none;
  }
}

form.needs-validation .form-group.form-group-error {
  .form-error{ 
    display: block;
  }
}